.qna {
  border: 2px solid rgb(163, 139, 139);
  margin: 0.5rem 0;
  padding: 0.5rem;
  position: relative;
}
 

span {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}
.heading{
  color: red;
  text-align: center;
  position: center;
}